@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#logo img{
    margin: 0.25em;
    max-width: 100%;
    /*border: 0.25px solid #ffffff;*/
     border-radius: 25%;
}
a{
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 2em;
}
a:hover{
    font-weight: bold;
}
header{
    background-color: #cc0033;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     align-items: center;
}
#logo{
    flex: 1;
}
#menuTopo{
    flex: 2;    
    padding: 0em 0.75em;
    background-color: #990000;
    
}
#menuTopo a{
    padding: 1em;
    padding-left: 0em;
    color: #ffffff;
    font-size: 1.45em;
}
body{
    background-color: #000000;
}
#banner{
    text-align: center;
    padding-top: 1.25em;
}
#banner img{
    border: 0.20em solid #ffffff;
}
#meio h2{
    color: #ffffff;
    text-align: center;
    border-bottom: 0.10em solid #ffffff; 
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}
#filmes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.25em;
    padding-bottom: 1em;
}
#filmes p{
    color: #ffffff;
    text-align: center;
    font-size: 1.75em;
    font-family: 'Oswald', sans-serif;
}
#filmes img{
    border:  0.10em solid #ffffff;
    padding: 0.25em;
    margin: 1.25em;
    
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #cc0033;
}
footer a{
    padding-top: 0.25em;
}
@media (max-width:500px){
        header{
            flex-direction: column;
        }
        #menuTopo{
            display: flex;
            flex-direction: column;
            line-height:0.02em;
            padding-right: 5em;
        }
        #menuTopo a{
            font-size: 1.30em;
            letter-spacing: 0.14em;
            
        }
        img{
        max-width: 90%;
    }
    #meio img{
        margin-top: 2em; 
    }
    }